.item{
    /* height: 350px; */
    width: 250px;
    border-radius: 10px;
    border: 1px solid gray;
    /* background-color: aquamarine; */
    /* box-shadow: 5px 4px 6px grey; */
    padding: 10px;
}
.item img{
    width: 230px;
    height: 150px;
    margin-left: 10px;
    border-radius: 10px;
}

.item p{
    margin-left: -4px;
}
.item button{
    width: 100%;
    /* color: rgb(0, 204, 255)(0, 204, 255); */
    background-color:#433752;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}